<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>14.3</string>
	<key>CFBundleDisplayName</key>
	<string>Wasabee</string>
	<key>CFBundleIdentifier</key>
	<string>rocks.wasabee.mobile.touch</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>rocks.wasabee.mobile.touch</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location when your application is being used?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>NSCameraUsageDescription</key>
	<string>Can we use your camera ?</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We don't access your Calendar events, but we use a SDK that can help us implement features for this. This sentance is required by Apple.</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-material.ttf</string>
		<string>iconize-materialdesignicons.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.269534461245-ltpks4ofjh9epvida0ct965829i4cfsi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
