<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>Wasabee</string>
	<key>CFBundleIdentifier</key>
	<string>rocks.wasabee.mobile.touch</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>rocks.wasabee.mobile.touch</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Wasabee needs to access your location at all time when you enable the Live Location sharing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wasabee needs to access your location to show your location on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wasabee needs to access your location at all time when you enable the Live Location sharing.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera to scan the QRCode.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We DO NOT access your Calendar events, but we use a SDK that can help us implement features for this. This sentance is required by Apple. This should actually never be displayed in app.</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-materialdesignicons.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>da</string>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>it</string>
		<string>pt</string>
		<string>ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
</dict>
</plist>
